.box {
	width: 500px;
	height: 500px;
	background-color: pink;
	display: grid;
	/* grid-template-areas: 'image text list'; */
	/* grid-template-areas: 'image' 'list' 'text'; */
	/* grid-template-areas: 'image text' 'image list'; */
	/* grid-template-areas: 'text image' 'list image'; */
	/* grid-template-areas: 'image image' 'list text'; */
	grid-template-areas: 'list text' 'image image';

}

.a {
	background-color: aqua;
	grid-area: image;
}

.b {
	background-color: aquamarine;
	grid-area: list;
}

.c {
	background-color: RED;
	grid-area: text;
}