.content {
	width: 100%;
	height: calc(100vh - 50px);
	background-color: #f4f4f4;
}

.navBar {
	position: sticky;
	top: 0;
	background-color: #fff;
	z-index: 999;
	// margin-bottom: 10px;
}

.orders {
	height: calc(100vh - 50px - 45px);
	overflow: scroll;
}

.order:first-child {
	margin-top: 10px;
}

.order {
	width: 100vw;
	overflow: hidden;
	background-color: #fff;
	padding: 0 15px;
	margin-bottom: 10px;

	.orderMsg {
		height: 140px;
		padding-top: 15px;

		.ordercontent {
			display: flex;

			.poster {
				width: 50px;
				height: 75px;
			}

			.ordertext {
				margin-left: 15px;

				p {
					margin-bottom: 0;
				}

				.mname {
					font-size: 16px;
					font-weight: 600;
				}

				.cname {
					margin-top: 5px;
					font-size: 12px;
					color: #9e9e9e;
				}

				.create {
					font-size: 12px;
					color: #9e9e9e;
				}
			}
		}

		.price {
			font-size: 14px;
			margin: 10px 0;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;

			.jiage {
				margin-bottom: 0;
				font-size: 16px;
				font-weight: 400;
				color: #95c1ff;
			}
		}

	}

	.actions {
		height: 50px;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		padding: 8px 0;

	}

	.txtbtn {
		width: 80px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0.5px solid #191a1b;
		;
		margin-left: 20px;
	}

	.noborder {
		border: 0;
	}

	.blue {
		color: #95c1ff;
		border: 0.5px solid #95c1ff;
	}

	.gray {
		border: 0;
		color: #9e9e9e;
	}

}

.empty {
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.emptyimg {
		width: 80px;
		height: 80px;
	}

	.txt {
		margin-top: 10px;
		color: #bdc0c5;
		font-size: 14px;
	}
}