.grid-demo-item-block {
    background: #f4f4f4;
    text-align: center;
    color: #191a1b;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    font-size: 15px;
}

.top {
    position: 'sticky';
    top: 0;
    background-color: '#fff';
    z-index: 999;
}
